body
	background: #fff
	font-family: "Open Sans"
	font-size: 14px
h3
	font-size: 2.6em
	font-family: "Raleway"
	text-transform: uppercase
	text-align: center
	margin: 0 auto 0.5em
	padding-top: 2em
h4
	font-size: 1.4em
	font-weight: bold
p
	font-size: 1em
	color: rgb(134, 135, 139)
.tac
	text-align: center
.fn
	float: none
.italic
	font-style: italic
.fl
	float: left

.mt
	margin-top: 2em
.aa
	margin: 0 auto 2em
.iternal
	margin-top: 5.3em
	margin-bottom: 7em
	line-height: 1.2
	text-align: left
	padding: 0 5.1em 0 5.1em
.userpic
	margin-top: 3.2em
.userpicname
	padding: 0.2em 6em

.street
	background: url("../images/u25_state0.png") no-repeat top
.white
	color: rgb(255, 255, 255)
.button
	display: inline-block
	border: 2px solid white
	width: 10em
	height: 3em
	text-align: center
	padding-top: 0.7em
	margin-bottom: 4.3em
	transition: 0.5s
.button:hover
		border: 2px outset white
.button:active
		border: 2px inset white
